<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="username">Username</label>
  <input type="text" formControlName="username" id="username">

  <label for="password">Password</label>
  <input type="text" formControlName="password" id="password">

  <button class="btn btn-primary">Login</button>

</form>
