<div *ngFor="let item of listArticle">
    <span *ngIf="filter == null || filter == item.categorie">
         <p>{{item.titre}}</p>
        <p>{{item.categorie}}</p>
    </span>
</div>


<p>
    <button (click)="filterBy(null)">Full</button>
    <span *ngFor="let categorie of listCategories">
        <button (click)="filterBy(categorie)">{{categorie}}</button>
    </span>
</p>

<button (click)="logout()">Logout</button>
